body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/AtacamaDesertByFrode.jpg/1200px-AtacamaDesertByFrode.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  text-align: center;
}
header h3{
 font-size: 80px;
 font-weight: 700;
color: rgb(207, 19, 66);
}
header p{
  color: azure;
  font-size: 30px;

}
footer{
  text-align: center;
  color: brown;
  font-size: 20px;
  font-weight: 600;
}