body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/AtacamaDesertByFrode.jpg/1200px-AtacamaDesertByFrode.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  text-align: center;
}
header h3{
 font-size: 80px;
 font-weight: 700;
color: rgb(207, 19, 66);
}
header p{
  color: azure;
  font-size: 30px;
  font-family: 'Hammersmith One', sans-serif;
}
header p:hover{
  box-shadow: 19px 10px 15px 10px black;
  color: rgb(204, 56, 36);
}
header  p a{
text-decoration: none;
color: rgb(145, 32, 12);
font-size: 25px;
font-weight: bold;
}
header p a:hover{
  font-size: 30px;
transition: 1s ease-in-out;
  color:#ffffff;
  font-size:30px;
font-weight: bold;
font-family: 'Hammersmith One', sans-serif;
}
header nav ul{
  list-style: none;
}
header nav ul li{
  display: inline-block;
}
header nav ul li a{
  text-decoration: none;
  color: #fcfcfc;
  padding: 15px;
  justify-content: space-around;
font-size: 40px;
font-weight: bolder;
}

footer{
  text-align: center;
  color: brown;
  font-size: 40px;
  font-weight: 600;
}

main h1 {color:white;text-align: center;}